<section class="about-section section-padding" id="education">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="about-content">
                <div class="section-title">
                    <h5 class="sub-title project">Education</h5>
                    <ul class="line">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="about-row">
                    <div class="about-container">
                        <div class="about-container-inner">
                            <h3>Motilal Nehru National Institute of Technology, Allahabad </h3>
                            <p>B.Tech (In Electrical Engineering)</p> 
                            <p>CGPA : 7.58 | 2021  </p> 
                        </div>
                    </div>
                    <div class="about-container">
                        <div class="about-container-inner">
                            <h3>Apna Vidhyalaya Sr. Sec. School, Jodhpur </h3>
                            <p>Class 12th </p>
                            <p>Percentage : 80.80 | 2015</p>
                        </div>
                    </div>
                    <div class="about-container">
                        <div class="about-container-inner">
                            <h3>Shri Sumer Sr. Sec. School, Jodhpur </h3>
                            <p>Class 10th </p>
                            <p>Percentage : 66.67 | 2013</p>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>

