/*===== Navbar =====*/
.navbar {
  position: fixed;
  background-color: var(--main-color);
  z-index: 999;
  width: 100%;
  padding: 25px;
  transition: all 0.5s ease;
}
.justify-content-between {
  justify-content: space-between;
}
.sticky {
  z-index: 999;
  width: 100%;
  position: fixed;
  padding: 10px 25px;
  background-color: var(--white);
  box-shadow: var(--shadow-black-100);
}
.navbar .logo,
.sticky .logo {
  margin-top: 7px;
}
.navbar .logo a,
.sticky .logo a {
  font-size: 24px;
  color: var(--black-900);
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  font-family: var(--font-family);
  box-sizing: border-box;
}

.navbar .logo a span {
  color: var(--white);
}
.sticky .logo a span {
  color: var(--main-color);
}
.navbar .menu .nav-item,
.sticky .menu .nav-item {
  display: inline-block;
  position: relative;
  margin-left: 36px;
  text-decoration: none;
}
.navbar .menu .nav-item .nav-link,
.sticky .menu .nav-item .nav-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  padding: 10px 0;
}
.sticky .menu .nav-item .nav-link {
  color: var(--main-color);
}
.navbar .nav-item .nav-link span,
.sticky .nav-item .nav-link span {
  width: 0;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}
.navbar .nav-item .nav-link span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white);
  left: 110%;
}
.sticky .nav-item .nav-link span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  left: 110%;
}
.sticky .nav-item .nav-link span::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  left: 140%;
}
.navbar .nav-item .nav-link span::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white);
  left: 140%;
}
.sticky .nav-item a span,
.sticky .nav-item a span::before,
.sticky .nav-item a span::after {
  background-color: var(--main-color);
}
.navbar .nav-item > .nav-link.active span,
.navbar .nav-item:hover > .nav-link span,
.sticky .nav-item > .nav-link.active span,
.navbar .nav-item:hover > .nav-link span {
  opacity: 1;
  visibility: visible;
  width: 60%;
}
.navbar .nav-item > .nav-link.active span::before,
.navbar .nav-item:hover > .nav-link span::before,
.sticky .nav-item > .nav-link.active span::before,
.navbar .nav-item:hover > .nav-link span::before {
  width: 20%;
}
.navbar .nav-item > .nav-link.active span::after,
.navbar .nav-item:hover > .nav-link span::after,
.sticky .nav-item > .nav-link.active span::after,
.navbar .nav-item:hover > .nav-link span::after {
  width: 15%;
}
.menu-btn {
  background-color: var(--main-color);
  height: 34px;
  width: 44px;
  box-shadow: var(--shadow-black-100);
  padding: 0;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
  color: var(--white);
  font-size: 17px;
  display: none;
}
.sticky .menu-btn {
  color: var(--main-color);
  background-color: var(--white);
}
.menu-btn {
  display: none;
}
@media (max-width: 767px) {
  .header-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .menu-btn {
      display: block;
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(350%, -50%);
    height: 50px;
    width: 50px;
    border-radius: 6px;
    // background-color: #fff;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    cursor: pointer;
    // transition: all 0.4s linear;
    overflow: hidden;
    z-index: 100;
  }
  .menu-expanded {
    transform: translate(350%, -280%);
    .line.one {
      top: 50%;
      transform: translate(0%, 560%) rotate(45deg);
      transition: all 0 linear;
      background-color: #de0611;
    }
    .line.two {
      left: -100%;
      display: none;
      transition: all 0.4 linear;
      opacity: 0;
      background-color: #ffffff;
    }
    .line.three {
      bottom: 50%;
      transform: translate(0%, 0%) rotate(-45deg);
      transition: all 0 linear;
      background-color: #de0611;
    }
  }
  .container-box.active {
    background-color: #de0611;
  }
  .container-box .menu-box {
    position: relative;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-box .line {
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 6px;
    background-color: #2c3e50;
    transition: all 0.4s linear;
  }
  .menu-box .line.one {
    top: 15px;
  }
  .menu-box .line.three {
    bottom: 15px;
  }
  .menu-box .line.two {
    left: 0;
    opacity: 1;
  }
}
