
/*footer*/
footer
{
    background-color: var(--main-color);
    padding-top: 20px;
}
footer .copyright-text
{
    padding: 10px 0;
    font-size: 18px;
    color: var(--black-100);
    font-weight: 300;
    margin: 10px 0 0;
    cursor: pointer;
}
.footer-content{
    display: flex;
    
}
.list-item{
    justify-content: space-between;
    margin-left: 36px;
    color: var(--black-100);
    cursor: pointer;
}