<section class="about-section section-padding" id="about">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="about-image">
                <div class="img-box">
                    <img src="images/about_hero.png" alt="">
                    <div class="about-shape"></div>
                </div>
            </div>
            <div class="about-content">
                <div class="section-title">
                    <h5 class="sub-title">About</h5>
                    <h3 class="main-title">Why You Hire Me?</h3>
                    <ul class="line">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <!--===== Section Title =====-->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel blanditiis ab odio obcaecati
                    suscipit minima est laboriosam nihil? Sint quos esse cumque quae a, voluptatem quis
                    sequi quia nemo, vel ab soluta, eum illo error consequuntur delectus sapiente
                    nostrum magni placeat perferendis earum. Nesciunt
                    ex vitae sunt hic magnam in sit quasi.</p>
                <div class="about-skills">
                    <div class="skill-item">
                        <div class="skill-header">
                            <h6 class="skill-title">UI/UX Design</h6>
                            <div class="skill-percentage">
                                <p><span class="counter">90</span>%</p>
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-progress="90%"></div>
                            </div>
                        </div>
                    </div>
                    <!--===== Skill Item =====-->
                    <div class="skill-item">
                        <div class="skill-header">
                            <h6 class="skill-title">Web Design</h6>
                            <div class="skill-percentage">
                                <p><span class="counter">95</span>%</p>
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-progress="95%"></div>
                            </div>
                        </div>
                    </div>
                    <!--===== Skill Item =====-->
                    <div class="skill-item">
                        <div class="skill-header">
                            <h6 class="skill-title">HTML/CSS</h6>
                            <div class="skill-percentage">
                                <p><span class="counter">80</span>%</p>
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-progress="80%"></div>
                            </div>
                        </div>
                    </div>
                    <!--===== Skill Item =====-->
                    <div class="skill-item">
                        <div class="skill-header">
                            <h6 class="skill-title">Sketch</h6>
                            <div class="skill-percentage">
                                <p><span class="counter">70</span>%</p>
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-progress="70%"></div>
                            </div>
                        </div>
                    </div>
                    <!--===== Skill Item =====-->
                </div>
            </div>
        </div>
    </div>
</section>