<section class="portfolio section-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="section-title text-align">
                <h5 class="sub-title">portfolio</h5>
                <h3 class="main-title">our latest work</h3>
                <ul class="line">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <!--===== Section Title =====-->
        </div>
        <div class="row">
            <div class="portfolio-filter">
                <button type="button" class="active" data-filter="all">All</button>
                <button type="button" data-filter="web-design">web design</button>
                <button type="button" data-filter="photography">photography</button>
                <button type="button" data-filter="wordpress">wordpress</button>
            </div>
        </div>
        <div class="row">
            <!--===== portfolio-item start =====-->
            <div class="portfolio-item" data-category="wordpress">
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img src="images/portfolio/portfolio-1.jpg" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>web design</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== portfolio-item end =====-->
            <!--===== portfolio-item start =====-->
            <div class="portfolio-item" data-category="wordpress">
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img src="images/portfolio/portfolio-2.jpg" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>wordpress</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== portfolio-item end =====-->
            <!--===== portfolio-item start =====-->
            <div class="portfolio-item" data-category="photography">
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img src="images/portfolio/portfolio-3.jpg" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>photography</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== portfolio-item end =====-->
            <!--===== portfolio-item start =====-->
            <div class="portfolio-item" data-category="web-design">
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img src="images/portfolio/portfolio-4.jpg" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>web-design</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== portfolio-item end =====-->
            <!--===== portfolio-item start =====-->
            <div class="portfolio-item" data-category="wordpress">
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img src="images/portfolio/portfolio-5.jpg" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>wordpress</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== portfolio-item end =====-->
            <!--===== portfolio-item start =====-->
            <div class="portfolio-item" data-category="photography">
                <div class="portfolio-item-inner">
                    <div class="portfolio-img">
                        <img src="images/portfolio/portfolio-6.jpg" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>photography</h4>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== portfolio-item end =====-->
        </div>
    </div>
</section>