/*===== contact =====*/
.contact-section
{
    min-height: 100vh;
    background-color: var(--black-100);
}
.contact-section .contact-item
{
    flex: 0 0 100%;
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.contact-section .contact-item-inner
{
    padding: 30px 15px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 5px;
    width: 100%;
}
.contact-section .contact-item-inner i
{
    font-size: 25px;
    color: var(--main-color);
}
.contact-section .contact-item-inner span
{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--black-900);
    margin: 15px 0 10px;
    text-transform: capitalize;
}
.contact-section .contact-item-inner p
{
    font-size: 16px;
    color: var(--black-400);
    line-height: 26px;
    margin: 0;
}
.contact-section .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}
.contact-section .w-50
{
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-section .input-group
{
    margin: 0 0 25px;
    border-radius: 30px;
    background-color: var(--black-100);
    box-shadow: var(--shadow-black-100);
}
.contact-section .input-group .input-control
{
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    transition: all 0.3s ease;
    color: var(--black-400);
}
.contact-section .input-group textarea.input-control
{
    height: 190px;
    padding-top: 15px;
    resize: none;
}
.contact-section .input-group .input-control:focus
{
    border: 1px solid var(--main-color);
}
.contact-section .submit-btn
{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 15px;
}
.btn-1{
    cursor: pointer;
}

@media(max-width: 767px)
{
    .contact-section .contact-item
    {
        flex: 0 1 100%;
        max-width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}