/*===== pricing =====*/
.pricing-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.pricing-plan
{
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
.pricing-plan .pricing-header
{
    padding: 20px 30px;
    border-bottom: 1px solid var(--black-100);
    position: relative;
}
.pricing-plan .pricing-header h3
{
    font-size: 30px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}
.best-value
{
    position: absolute;
    right: -35%;
    top: 50%;
    width: 100%;
    color: var(--white);
    background-color: var(--main-color);
    text-transform: capitalize;
    transform: rotate(50deg);
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
.pricing-plan .pricing-price
{
    padding: 40px 30px;
    display: flex;
    line-height: 0.7;
}
.pricing-plan .pricing-price .currency
{
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    margin-right: 5px;
    align-self: flex-start;
}
.pricing-plan .pricing-price .price 
{
    font-size: 80px;
    font-weight: 700;
    color: var(--main-color);
}
.pricing-plan .pricing-price .period
{
    font-size: 14px;
    font-weight: 300;
    color: var(--black-400);
    margin-right: 5px;
    align-self: flex-end;
    text-transform: uppercase;
}
.pricing-plan .pricing-body
{
    padding: 0 30px;
}
.pricing-plan .pricing-body ul li
{
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid var(--black-alpha-100);
    line-height: 26px;
    position: relative;
}
.pricing-plan .pricing-body ul li:last-child
{
    border-bottom: none;
}
.pricing-plan .pricing-body ul li i
{
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 12px;
}
.pricing-plan .pricing-footer
{
    padding: 40px;
    text-align: center;
}