<section class="pricing section-padding" id="pricing">
    <div class="container">
      <div class="row">
        <div class="section-title text-align">
          <h5 class="sub-title">pricing</h5>
          <h3 class="main-title">pricing plans</h3>
          <ul class="line">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!--===== Section Title =====-->
      </div>
      <div class="row justify-content-center">
        <div class="pricing-item">
          <div class="pricing-plan">
            <div class="pricing-header">
              <h3>basic</h3>
            </div>
            <div class="pricing-price">
              <span class="currency">$</span>
              <span class="price">99</span>
              <span class="period">/monthly</span>
            </div>
            <div class="pricing-body">
              <ul>
                <li><i class="fa fa-check"></i> 5 GB BandWidth </li>
                <li><i class="fa fa-check"></i> Free Update </li>
                <li><i class="fa fa-check"></i> High Regulation Printing </li>
                <li><i class="fa fa-check"></i> Branding </li>
                <li><i class="fa fa-check"></i> Another Great Features </li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn-2">get started</a>
            </div>
          </div>
        </div>
        <div class="pricing-item">
          <div class="pricing-plan">
            <div class="pricing-header">
              <h3>premium</h3>
              <h2 class="best-value">best value</h2>
            </div>
            <div class="pricing-price">
              <span class="currency">$</span>
              <span class="price">199</span>
              <span class="period">/monthly</span>
            </div>
            <div class="pricing-body">
              <ul>
                <li><i class="fa fa-check"></i> 5 GB BandWidth </li>
                <li><i class="fa fa-check"></i> Free Update </li>
                <li><i class="fa fa-check"></i> High Regulation Printing </li>
                <li><i class="fa fa-check"></i> Branding </li>
                <li><i class="fa fa-check"></i> Another Great Features </li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn-1">get started</a>
            </div>
          </div>
        </div>
        <div class="pricing-item">
          <div class="pricing-plan">
            <div class="pricing-header">
              <h3>ultimate</h3>
            </div>
            <div class="pricing-price">
              <span class="currency">$</span>
              <span class="price">299</span>
              <span class="period">/monthly</span>
            </div>
            <div class="pricing-body">
              <ul>
                <li><i class="fa fa-check"></i> 5 GB BandWidth </li>
                <li><i class="fa fa-check"></i> Free Update </li>
                <li><i class="fa fa-check"></i> High Regulation Printing </li>
                <li><i class="fa fa-check"></i> Branding </li>
                <li><i class="fa fa-check"></i> Another Great Features </li>
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn-2">get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>