<section class="skills-section section-padding" id="skills">
    <div class="container">
        <div class="section-title">
            <h5 class="sub-title project">Skills</h5>
            <ul class="line">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div>          
            <div class="skills-container">
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Html </h3> 
                        <span class="skills__percentage">80%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Css </h3> 
                        <span class="skills__percentage">70%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Javascript</h3> 
                        <span class="skills__percentage">80%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Angular </h3> 
                        <span class="skills__percentage">80%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>React Js </h3> 
                        <span class="skills__percentage">70%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Python </h3> 
                        <span class="skills__percentage">80%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Django </h3> 
                        <span class="skills__percentage">70%</span>
                    </div>
                </div>
                <div class="skills-row">
                    <div class="skills-container">
                        <h3>Node Js </h3> 
                        <span class="skills__percentage">70%</span>
                    </div>
                </div>
            </div>
            
            <div>              
                <img src="assets/img/work3.jpg" alt="" class="skills__img">
            </div>
        </div>
    </div>
   
</section>