<!--===== Navbar Start =====-->
<app-header></app-header>

<!--===== Home Section Start =====-->
<app-home></app-home>

<!--===== About education Start =====-->
<app-education></app-education>

<!--===== About Section Start =====-->
<app-about></app-about>

<!--===== Services Section Start =====-->
<app-service></app-service>

<!--===== Portfolio Section Start =====-->
<!-- <app-portfolio></app-portfolio> -->

<!--===== Pricing Section Start =====-->
<!-- <app-pricing></app-pricing> -->

<!--===== Contact Section Start =====-->
<app-contact></app-contact>


<!--===== Footer Section Start =====-->
<app-footer></app-footer>

<!--===== Lightbox Start =====-->
<div class="lightbox">
  <div class="lightbox-content">
    <div class="lightbox-close">&times;</div>
    <img src="images/portfolio/portfolio-2.jpg" onclick="nextItem()" class="lightbox-img" alt="">
    <div class="lightbox-caption">
      <div class="caption-text"></div>
      <div class="caption-counter"></div>
    </div>
  </div>
  <div class="lightbox-controls">
    <div class="prev-item" onclick="prevItem()"><i class="fa fa-angle-left"></i></div>
    <div class="next-item" onclick="nextItem()"><i class="fa fa-angle-right"></i></div>
  </div>
</div>