<section class="home-section" id="home">
    <ul class="header-social">
        <!--===== Header Social =====-->
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <div class="container">
        <div class="row ">
            <div class="home-text">
                <h1>Sunil Goyal</h1>
                <span>Professional Web Developer</span>
                <p>I am an electrical engineer who passionate and aspire to web development and 3-D graphics design.</p>
                <p>I am talented , flexible and hardworking with broad skills. I am adept at handling multiple task on daily basis completely. Key streanth are working well under pressure, building strong relationships with people in order to deliver best result.</p>
                <!-- <a href="#" class="btn btn-1">purchase now</a> -->
            </div>
            <!-- <div class="home-image">
                <div class="img-box">
                    <img src="assets/images/hero.png" alt="">
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="header-hero-shape"></div> -->
    <!--===== Hero Shape =====-->
</section>